
  <div class='up'style="text-align:left">
    <img
    src='../assets/download.png'
    width='100'
    height="50px"
    class='logo'
    > 
    
    
  <!-- for menu bar -->
  <div class="dropdown" style="text-align: end;padding-left:790px;padding-top: 5px;">
    <button class="dropbtn">☰</button>
    <div class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#project">My Projects</a>
    <a href="#about">About Me</a>
     <a href="#contact">Contact Me</a>
    </div>
  </div>
    
  </div>
  <h2 id="A">
    Welcome
  </h2>

  <hr id="home">
  <div id="slider">
		<figure>
      <!-- <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM (1).jpeg"> -->
      <br>
      <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM (2).jpeg">
      &nbsp;
      &nbsp;
      &nbsp;
      <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM (3).jpeg">
      &nbsp;
      &nbsp;
      &nbsp;
      
      <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM (4).jpeg">
      &nbsp;
      &nbsp;
      &nbsp;
      
      <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM.jpeg">
      &nbsp;
      &nbsp;
      &nbsp;

      <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.53 AM (1).jpeg">
      &nbsp;
      &nbsp;
      &nbsp;
      
			<!-- <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.53 AM.jpeg"> -->
			<!-- <img src="../assets/WhatsApp Image 2020-05-31 at 6.39.26 AM (1).jpeg"> -->
      
		</figure>
	</div>

  <!-- Home Section
  <table height=500px width=992px border="1">
    <tr>
      <td>
        
      </td>
    </tr>

  </table> -->


     <a href="#contact">
      <p style="padding-top:5px; padding-left:880px ;">
    <button class="button" style="text-align: end;padding-top:5px; color: white;">Contact</button>
  </p>
 
 </a>
 
       
<hr id="about">
<table height=600px width=870px >
<tr>
  <td rowspan="2">
<p style="color: white;">

Hey!There...<br>
This is Yash..<br>
Computer Engineer<br>
<a href="www.booksarena.org" title="BooksArena.org">Founder of www.booksarena.org<br></a>
Coding is life..<br>
life is coding...<br>
I love to learn new tech and explore them. <br>
India
<a href=""></a>

</p>

  </td>
  
</tr>
<tr>
  <td width=200px height=200px>
    <img
    src='../assets/WhatsApp Image 2020-06-03 at 4.54.21 AM.jpeg'
    width='200px'
    height="200px"
    title="YashSrivastava"
    > 
  </td>

</tr>



</table>











  <hr id="project">

  <!-- About Section -->
  <div style="padding-left:0px ;">
    <a href="https://www.booksarena.org" title="BooksArena.org"> <img src="../assets/download (5).png" width="160px" height="160px" class="one"> </a>
    <br>
    <br>
    <a href="https://sriyash2511.wixsite.com/soulwrds" title="SoulWords"><img src="../assets/download (5).png" width="160px" height="160px" class="two" style="tab-size: 30px0;"> </a>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
     
     <a href=""><img src="../assets/download (5).png" width="160px" height="160px" class="three"></a>

     </div>
     
  <hr>

  <!-- contact -->

  <hr id="contact">

  <!-- About Section -->
<div style="padding-left:250px ;">
   <a href="https://www.facebook.com/yash.srivastava.106902"> <img src="../assets/images (3).png" width="160px" height="160px" class="one"> </a>
   &nbsp;&nbsp; <a href="https://twitter.com/yashsri07823533"><img src="../assets/download (3).png" width="160px" height="160px" class="two"> </a>
    &nbsp;&nbsp;<a href="https://www.instagram.com/yashsri.16/"><img src="../assets/images (2).png" width="160px" height="160px" class="three"></a>
    </div>
    <h2 style="color: blanchedalmond;font-family: sans-serif;">You can contact me..:)</h2>
    <p style="color: blanchedalmond;padding-left: 800px;">PhoneNo:9026482050</p>
  <hr>

  

  

